# Тема “Обучение с учителем”

### Задание №1

Импортируйте библиотеки pandas и numpy

In [1]:
import pandas as pd
import numpy as np

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn.

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

Создайте датафреймы X и y из этих данных.

In [3]:
data = boston['data']  # Данные о недвижимости
feature_names = boston['feature_names']  # Названия признаков
target = boston['target']  # Массив с целевыми значениями
X = pd.DataFrame(data, columns=feature_names)  # Храним признаки
y = pd.DataFrame(target, columns=['price'])  # Храним целевые значения

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model

In [5]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых

In [6]:
lr.fit(X_train, y_train)

LinearRegression()

In [7]:
y_pred = lr.predict(X_test)  # Получим предсказанные значения на объектах X_test
y_pred.shape

(152, 1)

In [8]:
# Сопоставим реальные значения с предсказанными
check_test = pd.DataFrame({
    'y_test': y_test['price'],
    'y_pred': y_pred.flatten()
})

check_test.head()

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [9]:
check_test['error'] = check_test['y_pred'] - check_test['y_test']
check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics

In [10]:
from sklearn.metrics import r2_score
r2_score_1 = r2_score(y_test, y_pred)

### Задание №2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42

In [11]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000,
                              max_depth=12,
                              random_state=42)

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма

In [12]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [13]:
y_pred = model.predict(X_test)
check_test_rfr = pd.DataFrame({
    'y_test': y_test['price'],
    'y_pred': y_pred.flatten()
})
check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

In [14]:
check_test['error'] = check_test['y_pred'] - check_test['y_test']
check_test.head()

     y_test     y_pred     error
173    23.6  28.648960  5.048960
274    32.4  36.495014  4.095014
491    13.6  15.411193  1.811193
72     22.8  25.403213  2.603213
452    16.1  18.855280  2.755280

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.

In [15]:
r2_score_2=r2_score(check_test["y_pred"], check_test["y_test"])
r2_score_2

0.6693702691495628

In [17]:
r2_score_1 > r2_score_2

True

### *Задание №3

Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_

In [18]:
?RandomForestRegressor

In [21]:
model.feature_importances_

array([0.03167574, 0.00154252, 0.00713813, 0.00123624, 0.01426897,
       0.40268179, 0.01429864, 0.06397257, 0.00528122, 0.01152493,
       0.01808108, 0.01245085, 0.41584732])

С помощью этого атрибута найдите сумму всех показателей важности

In [22]:
model.feature_importances_.sum()

1.0

установите, какие два признака показывают наибольшую важность

In [32]:
feature_importance = pd.DataFrame({'name': X.columns,
                                  'feature_importance': model.feature_importances_},
                                 columns=['feature_importance', 'name'])
feature_importance.sort_values(by='feature_importance', ascending=False).head(2### *Задание №3)

    feature_importance   name
12            0.415847  LSTAT
5             0.402682     RM